
/* .App {
  
} */


.app-list {
  border:3px solid rgb(255, 49, 49);
  border-radius: 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.app-list-elements{
  overflow: scroll;
  height: 250px;
}

.app-list-elements::-webkit-scrollbar{
  display: none;
}



